{% extends "base.html" %} {% block content %}
<div class="container mt-5 p-5">
  <h1 class="text-center fw-bold">CARI RUMAH SAKIT</h1>
  <div class="row mt-5">
    <div class="col-sm"></div>
    <div class="col-sm">
      <form action="http://127.0.0.1:2123/cari" method="post">
        <div class="mb-3">
          <label class="form-label">Masukkan Provinsi</label>
          <input type="text" class="form-control" name="cari" />
        </div>
        <button type="submit" class="btn btn-info">Cari</button>
      </form>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
<div class="container mt-2">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for i in rs %}
    <div class="col">
      <div class="card" style="width: 35rem">
        <div class="card-body">
          <h5 class="card-title fw-bold" style="background-color: aqua">{{ i['name'] }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ i['province'] }}</h6>
          <div class="card-text small">
            Alamat : {{ i['address'] }}<br />
            Wilayah : {{ i['region'] }}<br />
            No.Telp : {{ i['phone'] }}<br />
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
